/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.medynskyi
{
  color: rgb(255, 255, 255);
  padding-top: 20px;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #ffffff;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#41970fd5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 3em;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 0%;
    margin-top: 10px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 20px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 350px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 3em;
    line-height: 1.25em;
}
.content h2 span
{
        color: #fff;
    font-size: 1.5em;
}
.content p
{
    color: #fff;
    margin: 10px 0 20px;
    font-size: 2.28em;
}
.content a
{
    padding: 10px 10px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-size: 2.0em;
}
.gif
{
    position: absolute;
    bottom: 0;
    height:0%;
    right: 0px;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 481px) and (max-width: 768px)
{
.custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #FFFFFF;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#2b6b06);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 28%;
    margin-top: 10px;
    margin-left: 270px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 50px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 400px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 1.5em;
    line-height: 0.75em;
}
.content h2 span
{
        color: #fff;
    font-size: 0.85em;
}
.content p
{
    color: #fff;
    font-size: 1.5em;
}
.content a
{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.gif
{
    position: absolute;
    bottom: 0;
    height: 30%;
    right: 0px;
}
}
@media (min-width: 769px) and (max-width: 1024px)
{
  .custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #FFFFFF;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#2b6b06);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 50%;
    margin-top: 10px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 50px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 1200px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 2.5em;
    line-height: 0.75em;
}
.content h2 span
{
        color: #fff;
    font-size: 0.85em;
}
.content p
{
    color: #fff;
    font-size: 1.1em;
}
.content a
{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.gif
{
    position: absolute;
    bottom: 0;
    height: 45%;
    right: 50px;
}
}

@media (min-width: 1025px) and (max-width: 1366px)
{
  .custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #FFFFFF;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#2b6b06);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 40%;
    margin-top: 10px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 50px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 1200px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 2.3em;
    line-height: 0.75em;
}
.content h2 span
{
        color: #fff;
    font-size: 0.85em;
}
.content p
{
    color: #fff;
    font-size: 1.1em;
}
.content a
{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.gif
{
    position: absolute;
    bottom: 0;
    height: 75%;
    right: 10px;
}

}
@media (min-width: 1367px) and (max-width: 1920px)
{
.custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #ffffff;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#41970fd5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 3em;
    color: #fff;
    font-weight: 1200;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 65%;
    margin-top: 50px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 50px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 1366px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 3em;
    line-height: 1.25em;
}
.content h2 span
{
        color: #fff;
    font-size: 1.0em;
}
.content p
{
    color: #fff;
    margin: 10px 0 20px;
    font-size: 1.28em;
}
.content a
{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.gif
{
    position: absolute;
    bottom: 0;
    height:80%;
    right: 10px;
}

}
@media (min-width: 1921px)
{
.custom-shape-divider-bottom-1607769272 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1607769272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1607769272 .shape-fill {
    fill: #ffffff;
}

.sec
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(#03a9f4,#41970fd5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
    }

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-size: 3em;
    color: #fff;
    font-weight: 1200;
    text-transform: uppercase;
    text-decoration: none;
}
header .logo img
{
    width: 65%;
    margin-top: 50px;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
   margin-left: 50px;
   text-decoration: none;
}
.content
{
    position: relative;
    max-width: 1366px;
    z-index: 1;
}
.content h2
{
    color: #fff;
    font-size: 3em;
    line-height: 1.25em;
}
.content h2 span
{
        color: #fff;
    font-size: 1.0em;
}
.content p
{
    color: #fff;
    margin: 10px 0 20px;
    font-size: 1.28em;
}
.content a
{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
}
.gif
{
    position: absolute;
    bottom: 0;
    height:80%;
    right: 10px;
}
}
